<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="planet.css"> -->
    <title>Planet Ghibli</title>
  </head>
  <body>
    <!-- page header navigation -->
    <header class="pghi-site-header">
      <div class="pghi-site-header-wrapper center-block">
        <h2>Planet Ghibli</h2>
        <nav class="pghi-site-nav">
          <ul>
            <li class="pghi-site-nav__item active">
              <a href="#">HOME</a>
            </li>
            <li class="pghi-site-nav__item">
              <a href="#">ABOUT</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="pGhibliHome" class="pghi-home">
      <!-- Hero image -->
      <section class="pghi-hero__box">
        <div class="pghi-hero__img">
          <img src="" alt="css animated image">
        </div>
        <div class="pghi-hero__msg center-text">
          <h1>Planet Ghibli</h1>
          <h2>Dive deeper into the Studio Ghibli Films</h2>
        </div>
      </section>

      <!-- List of Ghibli films -->
      <section class="pghi-films">
        <header class="pghi-films__header center-text">
          <h3>Studio Ghibli Films</h3>
          <p>Films are in chronological order</p>
        </header>
          <div id="pGhiFilmsListBox" class="pghi-films__list-box"></div>
      </section>
    </main>
    <!-- page footer -->
    <footer class="pghi-site-footer center-text">
      <p>With love by Carlos E Alford</p>
      <p>2021 - @WebShuriken</p>
    </footer>
    <script src="main.bundle.js" charset="utf-8"></script>
  </body>
</html>
