<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="studio ghibli fan side made using free api out of curiousity">
    <meta name="author" content="Carlos E Alford">
    <title>Planet Ghibli</title>
  </head>
  <body>

    <!-- page header and navigation -->
    <header class="site-header">
      <p class="site-header__title">Planet Ghibli</p>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li class="main-nav-list__item active">
            <a href="#">HOME</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="pGhibliHome" class="home">

      <!-- Hero image -->
      <section class="hero hero-scene">
        <div class="hero-card">
          <div class="hero-card__face hero-card__face--front">
            <div id="pGhiHeroImg" class="pghi-hero__img"></div>
          </div>
          <div class="hero-card__face hero-card__face--back">
            <div class="hero__msg center-text">
              <h1>Planet Ghibli</h1>
              <h2>Dive deeper into the Studio Ghibli Films</h2>
            </div>
          </div>
        </div>
      </section>

      <!-- List of Ghibli films -->
      <section class="films">
        <header class="films-header center-text">
          <h3>Films are in chronological order</h3>
        </header>
        <div class="films-body">
          <ul id="FilmsList" class="films-list"></ul>
        </div>
      </section>

    </main>

    <!-- page footer -->
    <footer class="site-footer center-text">
      <p>Made with curiousity by Carlos E Alford</p>
      <p>2021-<span id="wsFooterYear"></span></p>
    </footer>

    <script src="main.bundle.js" charset="utf-8"></script>
    <script>
      // dynamic footer date
      const date = new Date();
      document.querySelector('#wsFooterYear').innerText = date.getFullYear();
    </script>
  </body>
</html>
