#pGhibliFilm {}

/* film hero section */
.pghi-film__hero {
  background: rgb(var(--main-box-bg-color));
  padding: 32px 0;
}
.pghi-film__hero-header {}
.pghi-film__hero-header > h2 {
  font-size: 2.2em;
}
.pghi-film__hero-header > h3 {
  margin-top: 16px;
}
.pghi-film__hero--body {}
.pghi-film__hero--banner {
  background: rgb(var(--c-ucla-blue));
  width: 100%;
  max-width: 992px;
  margin: 32px auto 0;
  display: block;
}

/* Leaflet */
.pghi-film__leaflet {
  margin: 0 auto;
  max-width: 600px;
  padding: 32px 8px;
}

/* film description */
.pghi-film__desc {}
.pghi-film__desc > h3 {
  padding: 8px 0;
}
.pghi-film__desc-body {}
.pghi-film__desc-body p {}

/* film general info */
.pghi-film__info {
  margin: 0 auto;
}
.pghi-film__info--list {
  display: flex;
  flex-flow: column wrap;
  padding: 12px 8px;
}
.pghi-film__info--list-item {
  font-weight: bold;
  padding: 4px 0;
}
.pghi-film__info--list-item > span {
  font-weight: 400;
}

/* film extras buttons */
.pghi-film__extras {
  align-items: center;
  display: flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  margin: 32px auto 32px;
  max-width: 320px;
  width: 100%;
}
.pghi-film__extras-popup-btn {
  background-color: rgb(var(--c-ucla-blue));
  color: rgb(var(--c-almost-white));
  border: 2px solid rgb(var(--main-border-color));
  border-radius: 4px;
  font-weight: bold;
  margin: 11px 0;
  padding: 48px 0;
  text-transform: uppercase;
  width: 120px;
}

/* MODALS */
.pghi-extras {
  z-index: 100;
}
.pghi-extras > div {}

.pghi-extras__overlay {
  background-color: rgb(var(--c-jade));
  background-color: rgba(var(--c-jade), .8);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity .5s;
  visibility: hidden;
  width: 100%;
  right: 0;
  bottom: 0;
}
.pghi-extras__overlay:target {
  opacity: 1;
  visibility: visible;
}

.pghi-film__popup {}
.pghi-film__popup-header {
  align-items: center;
  display: flex;
  padding: 8px 0;
  text-align: center;
}
.pghi-film__popup-header > h2 {
  flex-grow: 2;
}
.pghi-film__popup-header > a {
  flex-grow: 1;
}
.pghi-film__popup-body {
  height: 88vh;
  overflow: auto;
}

/* Film Extras Cards */
.pghi-card {
  background-color: rgb(var(--c-ucla-blue));
  border: 2px solid rgb(var(--c-ultra-violet));
  border-radius: 4px;
  box-shadow: 0 0 12px 2px rgba(var(--c-ultra-violet),.4);
  color: #fff;
  margin: 16px 8px;
  padding: 8px;
  font-size: 18px;
}

.pghi-card__header {
  align-items: center;
  display: flex;
}

/* TODO: WORKING ONT HE CARD LAYOUT */
.pghi-card__header--profile {
  height: 60px;
  width: 60px;
  border: 4px solid rgb(var(--c-almost-white));
  border-radius: 32px;
  background: red;
}

.pghi-card__header--title {
  padding-left: 1rem;
  text-align: center;
}

.pghi-card__body {}
.pghi-card__body--list {
  padding: 1rem;
}
.pghi-card__body--list-item {}

.pghi-card__body--list-item > span {
  font-weight: bold;
}


/* MEDIA QUERIES */

/* Tablets */
@media screen and (min-width: 768px) {
  /* film general information */
  .pghi-film__info--list {
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
  }
  /* film extras */
  .pghi-film__extras {
    margin-top: 58px;
  }
}
@media screen and (min-width: 992px) {
  /* fil leaflet */
  .pghi-film__leaflet {
    max-width: 880px;
  }
  /* film description */
  .pghi-film__desc {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }
  .pghi-film__desc-body {
    padding-left: 36px;
  }
  /* general info */
  .pghi-film__info {
    width: 800px;
  }
  .pghi-film__info--list {
    gap: 6rem;
  }
  /* film extras */
  .pghi-film__extras {
    max-width: 660px;
  }
}
