/* home basic layout */
.pghi-home {}


/*TODO: FIX THE HERO IMAGE SECTION, IT IS NOT REZISING PROPERLY*/
/* hero section */
.pghi-hero__box {
  background: rgb(var(--main-box-bg-color));
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
}

.pghi-hero__img {}
.pghi-hero__img img {
  display: block;
  height: auto;
  width: 100%;
}

.pghi-hero__msg {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 2rem .4rem;
  background: rgb(var(--c-cal-poly-green));
  color: rgb(var(--c-almost-white));
}
.pghi-hero__msg h1 {
  font-size: 2.2em;
  margin-bottom: 12px;
}
.pghi-hero__msg h2 {}

/* ghibli films basic layout */
.pghi-films {
  padding: 8px;
}
.pghi-films__header {
  margin: 32px 0;
}
.pghi-films__header h3 {}

.pghi-films__list-box {}
.pghi-films__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: .4rem;
}
.pghi-films__list-item {
  max-width: 420px;
}
.pghi-films__list-item--box {
  background: rgb(var(--c-cal-poly-green));
  margin-bottom: 32px;
  min-height: 240px;
  transform: scale(1);
  transition: transform .24s;
}
.pghi-films__list-item--box:hover {
  cursor: pointer;
  transform: scale(.94);
}
.pghi-films__list-item--box:active {
  background: rgb(var(--c-ucla-blue));
}

.pghi-films__list-item--box > h4 {
  background: rgba(var(--c-almost-white), .8);
  left: 0;
  padding: 6px 0;
  position: absolute;
  top: 40px;
  width: 100%
}
.pghi-films__list-item--box > img{}

/* Media Queries */
@media screen and (min-width: 600px) {
  .pghi-films__list {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .pghi-films__list-item{
    width: 48%;
  }
}

/* Tablets */
@media screen and (min-width: 768px) {
  /* list of films */
  .pghi-films__header {
    margin: 64px 0;
  }
  .pghi-films__list {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  .pghi-films__list-item {
    width: 300px;
  }
  /* hero section */
  .pghi-hero__msg h1 {
    font-size: 2.6em;
  }
}

/* Large screens */
@media screen and (min-width: 992px) {
  /* hero section */
  .pghi-hero__box {
    flex-flow: row nowrap;
  }
  .pghi-hero__img {
    width: 64vw;
  }
  .pghi-hero__msg {
    width: 36vw;
  }
  .pghi-hero__msg h1 {
    margin-bottom: 60px;
  }
}
