@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

:root {
  --c-almost-white: 244, 250, 246;
  --c-honeydew: 220, 238, 225;
  --c-jade: 80, 169, 103;
  --c-cal-poly-green: 40, 85, 52;
  --c-ucla-blue: 79, 117, 155;
  --c-ultra-violet: 93, 81, 121;
  --main-text-color: var(--c-cal-poly-green);
  --main-box-bg-color: var(--c-honeydew);
  --main-base-color: var(--c-jade);
  --main-border-color: var(--c-cal-poly-green);
  font-size: 18px;
  font-family: 'Architexts Daughter', sans-serif;
}

body {
  background-color: rgb(var(--c-almost-white));
  color: rgb(var(--main-text-color));
}

a {
  color: var(--main-text-color);
}

img {
  width: 100%;
  height: auto;
}

/**
 * Color pallete
 - Almost white: f4faf6 - 244, 250, 246
 - Honeydew: dceee1 - 220, 238, 225
 - Jade: 50a967 - 80, 169, 103
 - Cal poly green: 285534 - 40, 85, 52
 - ucla blue: 4f759b - 79, 117, 155
 - Ultra violet: 5d5179 - 93, 81, 121

 * Font - architects daughter
 <style>
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
</style>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">

font-family: 'Architects Daughter', cursive;

 */
/* Universal styles */
.center-text {
  text-align: center;
}
.center-block {
  margin: 0 auto;
}

/* site header */
.pghi-site-header {
  background: rgb(var(--main-box-bg-color));
  border-bottom: 2px solid rgb(var(--main-border-color));
}
.pghi-site-header-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 768px;
  padding: 8px;
}
.pghi-site-header-wrapper h2 {
  font-size: 1rem;
}
.pghi-site-header-wrapper h3 {}

/* site navigation */
.pghi-site-nav {}
.pghi-site-nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.pghi-site-nav__item {}
.pghi-site-nav__item a {
  color: rgb(var(--main-text-color));
  display: block;
  padding: 4px 8px;
}
.pghi-site-nav__item.active a {
  font-weight: bold;
}
.pghi-site-nav__item a:hover {
  text-decoration: underline;
}

/* footer */
.pghi-site-footer {
  background: rgb(var(--main-box-bg-color));
  border-top: 2px solid rgb(var(--main-border-color));
  height: auto;
  margin-top: 12px;
  padding: 8px;
}

/* Media Queries */

/* Tablets */
@media screen and (min-width: 768px) {
  .pghi-site-footer {
    margin-top: 32px;
  }
}
